<header>
    <h1>MuseumWeb</h1>

    <ul>
        <li>Inicio</li>
        <li>Museos</li>
        <li>Yacimientos</li>
        <li>Exposiciones</li>
        <li>Noticias</li>
        <li>Contacto</li>
    </ul>
</header>

<style>
    header{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #faf7f3;

        height: 100%;
    }

    ul{
        display: flex;
        margin: 0;
        margin-left: auto;
        margin-right: 5%;
    }

    li{
        padding: 5px;
        list-style: none;
    }

    h1{
        margin: 0;
        margin-left: 5%;
    }
</style>