.main_registro {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario_registro {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;

    border: 5px rgb(25, 25, 25) solid;
    border-radius: 10px;

    color: white;
    background-color: rgb(25, 25, 25);
}

.formulario_registro * {
    width: 80%;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.formulario_registro h1 {
    padding-top: 20px;
}

.formulario_registro {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
}

.formulario_registro input {
    height: 25px;
    border: 0;
    color: white;
    background-color: rgb(25, 25, 25);
    border-bottom: solid 1px white;
    text-align: left;
}

.formulario_registro input::placeholder {
    text-align: left;
}

.formulario_registro div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formulario_registro div input {
    height: 15px;
    width: auto;
    margin-left: 0;
    margin-right: 10px;
}

.formulario_registro div label {
    width: auto;
    margin-left: 0;
}

.formulario_registro .enviar {
    background-color: white;
    color: black;
    height: 30px;
}