<style>
  section{
    display: flex;
    flex-direction: column;
  }

  app-header {
    height: 10vh;
  }

  main{
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
  }

  section{
    height: 100%;
  }

  app-slider{
    height: 40%;
  }

  app-footer{
    height: 10vh;
  }
</style>

<section>
  <app-header></app-header>

  <main>
    <section>
      <app-slider></app-slider>
    </section>
  </main>

  <app-footer></app-footer>
</section>

