<style>
  .contenedor {
    background-color: #faf7f3;

    display: flex;
    flex-direction: column;
  }

  app-header {
    position: sticky;
    top: 0;
    height: 10vh;
  }

  main {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  app-footer {
    height: 10vh;
  }

  .museo {
    width: 300px;
    height: 200px;
    background: url('../assets/img/museos/arqMurcia.jpg') no-repeat;
    object-fit: contain;
  }
</style>

<section class="contenedor">
  <app-header></app-header>

  <main>
    <app-slider></app-slider>

    <div class="museo">
      
    </div>
  </main>

  <app-footer></app-footer>
</section>