<style>
  .contenedor {
    background-color: #faf7f3;

    display: flex;
    flex-direction: column;
  }

  app-header {
    position: sticky;
    top: 0;
    height: 10vh;
  }

  main {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .cercanos_container {
    text-align: center;
    margin-top: 5%;
  }

  .cercanos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  app-footer {
    height: 10vh;
  }
</style>

<section class="contenedor">
  <app-header></app-header>

  <main>
    <app-slider></app-slider>

    <section class="cercanos_container">
      <h1>Museos cerca de ti</h1>
      <section class="cercanos">
        <app-caja *ngFor="let cant of cantidad"></app-caja>
      </section>
    </section>

  </main>



  <app-footer></app-footer>
</section>