<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section *{
        margin: 2% auto 2% auto   ;
        width: 80%;
    }

    .museo_exposiciones{
        display: flex;
        flex-direction: column;
    }

    .museo_exposiciones *{
        margin: 0;
    }
</style>

<main>
    <section class="informacion_museo">
        <app-caja [anchura]="anchuraCaja" [altura]="alturaCaja" [imagen]="museos[0].imagen" [id]=museos[0].id></app-caja>
        <h1>{{museos[0].nombre}}</h1>
        <p>{{museos[0].descripcion}}</p>
        <p>{{museos[0].descripcion_larga}} Descripcion larga</p>
        <p>★ ★ ★ ☆ ☆</p>
        <div class="museo_exposiciones">
            <h4>Exposiciones</h4>
            @if(exposiciones_museo.length == 0){
                <p>El museo no ofrece exposiciones actualmente</p>
            }
            @for(exposicion of exposiciones_museo; track exposicion.id;){
                <a href="">{{exposicion.nombre}}</a>
            }
        </div>
        <div class="museo_exposiciones">
            <h4>Monumentos</h4>
            @if(monumentos_museo.length == 0){
                <p>El museo no contiene monumentos</p>
            }
            @for(monumento of monumentos_museo; track monumento.id;){
                <a href="">{{monumento.nombre}}</a>
            }
        </div>
        <div class="museo_exposiciones">
            <h4>Visitas</h4>
            @if(visitas_museo.length == 0){
                <p>El museo no ofrece visitas actualmente</p>
            }
            @for(visita of visitas_museo; track visita.id;){
                <a href="">{{visita.nombre}}</a>
            }
        </div>
        <p>{{museos[0].localizacion}} Localizacion</p>
    </section>

    <section>
        <h1>Reseñas y comentarios</h1>
        <button>Boton comentar reseña</button>
        <p>bucle tabla reseñas de usuarios aqui</p>
    </section>
</main>