/* You can add global styles to this file, and also import other style files */
body{
    font-family: DMSans;

    margin: 0;
}

/* src/styles.css */

@font-face {
  font-family: 'DMSans';
  src: url('assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}